body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000000;
}

.main-background {
  width: 1200px;
  height: 508px;
  background-image:
    url(../img/welcome-sedona.png),
    url("../img/main-background-cut.jpg");
  background-repeat: no-repeat;
  background-position: center center, top center;
  margin: 0 auto;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #cacaca;
}

.site-navigation,
.features-list,
.additional-features,
.additional-list,
.footer-social,
.hotels-sort,
.sort-updown,
.hotels-list {
  list-style: none;
}

.lead-top {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  width: 440px;
  margin: auto;
}

.sedona-reason {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.features-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features-text {
  width: 400px;
  height: 256px;
  background-color: #85b5d3;
  color: #ffffff;
  text-align: center;
}

.features-item:nth-child(1n+3) {
  width: 400px;
  height: 256px;
  background-color: #eeeeee;
  text-align: center;
}

.features-additional h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.additional-item {
  width: 400px;
  height: 330px;
  background-color: #ffffff;
  text-align: center;
}

.booking-wrap {
  width: 1200px;
  height: 291px;
  font-size: 14px:
  line-height: 24px;
  text-align: center;
}

.booking-lead {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-form-button a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: #766357;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

.search-form-button a:hover,
.search-form-button a:focus {
  background-color: #604e43;
}

.search-form-button a:active {
  background-color: #503e33;
  color: #928a85;
}

.booking-search {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: inherit;
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
  text-align: center;
  vertical-align: middle;
}

.booking-search:hover,
.booking-search:focus {
  background-color: #669ec0;
}

.booking-search:active {
  background-color: #5496bd;
  color: #94b9d2;
}

input[type="text"] {
  background-color: #f2f2f2;
  border: none;
}

input[type="text"]:hover {
  background-color: #ebebeb;
}

input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: 0;
}

.main-footer {
  width: 1200px;
  height: 120px;
}

.footer-hash {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

/*Стили hotels.html*/

.site-navigation-current a {
  color: #766357;
}

.filter {
  width: 1200px;
  height: 217px;
  background-image: url(../img/hotels-background-cut.jpg);
  background-color: #495b66;
  color: #ffffff;
}

.filter-criterion legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-button {
  font: inherit;
  text-transform: inherit;
  border: none;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}


 /*↓временно↓*/
#price-from {
  font: inherit;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #ffffff;
}

#price-to {
  font: inherit;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #ffffff;
}
/*↑временно↑*/

.filter-group {
  display: flex;
}

.filter-criterion {
  border: none;
}

.filter-result p:first-child {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.filter-result p:nth-child(2),
.hotels-sort {
  font-size: 12px;
  line-height: 18px;
}

.hotels-sort a {
  color: #cacaca;
  border-bottom: 1px dashed #81b3d2;
}

.sort-criterion a:hover {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.sort-criterion a:active {
  color: #000000;
  border: none;
}

a.criterion-current {
  color: #81b3d2;
  border: none;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}

.hotel-name:active {
  color: #cacaca;
}

.hotel-card {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.detail-button,
.booking-button {
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

.detail-button {
  background-color: #81b3d2;
}

.detail-button:hover,
.deatil-button:focus {
  background-color: #669ec0;
}

.detail-button:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.booking-button {
  background-color: #766357;
}

.booking-button:hover,
.booking-button:focus {
  background-color: #604e43;
}

.booking-button:active {
  background-color: #503e33;
  color: #928a85;
}
