body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header,
main,
footer {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-background {
  position: relative;
  width: 1200px;
  height: 508px;
  background-image:
    url(../img/welcome-sedona.png),
    url("../img/main-background-cut.jpg");
  background-repeat: no-repeat;
  background-position: center 49%, top center;
}

.main-background::before {
  content: "";
  width: 1200px;
  height: 57px;
  position: absolute;
  background-image: url("../img/background-decoration.png");
  background-repeat: no-repeat;
  right: 0;
  bottom: 0;
}

.main-header-logo {
  position: absolute;
  left: 531px;
  top: 0;
  z-index: 1;
}

.main-navigation {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
}

.site-navigation li {
  display: block;
  width: 240px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 16px;
}

.site-navigation li:nth-child(2) {
  margin-right: 240px;
}

.site-navigation,
.features-list,
.additional-features,
.additional-list,
.footer-social,
.hotels-sort,
.sort-updown,
.hotels-list,
.type-housing,
.infra {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lead-main {
  padding: 39px 350px 37px 350px;
  text-align: center;
  line-height: 26px;
}

.lead-top {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 27px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  padding: 0 115px;
}

.features-additional h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  padding: 0 115px;
  padding-bottom: 3px;
}

.features-text {
  box-sizing: border-box;
  width: 400px;
  background-color: #85b5d3;
  color: #ffffff;
  text-align: center;
  padding-top: 26px;
  padding-bottom: 45px;
}

.features-item:nth-child(1n+3) {
  width: 400px;
  background-color: #eeeeee;
  text-align: center;
  padding-bottom: 45px;
  padding-top: 26px;
}

.features-item {
  display: flex;
  flex-wrap: wrap;
}

.features-item:first-child {
  order: -2;
}

.features-item:nth-child(2) {
  flex-direction: row-reverse;
}

.features-additional {
  order: -1;
}

.additional-list {
  display: flex;
  flex-wrap: wrap;
}

.additional-item {
  box-sizing: border-box;
  width: 400px;
  background-color: #ffffff;
  text-align: center;
  position: relative;
  padding-top: 140px;
  padding-bottom: 68px;
}

.additional-item:first-child::before {
  content: "";
  width: 74px;
  height: 85px;
  position: absolute;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 162px;
  top: 60px;
}

.additional-item:nth-child(2)::before {
  content: "";
  width: 74px;
  height: 85px;
  position: absolute;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 161px;
  top: 61px;
}

.additional-item:last-child::before {
  content: "";
  width: 74px;
  height: 85px;
  position: absolute;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 168px;
  top: 56px;
}

.features-description {
  padding: 0 48px 0 48px;
}

.numbers {
  padding-top: 3px;
  padding-bottom: 7px;
}

.booking-wrap {
  height: 241px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding: 50px 316px 0 316px;
}

.booking-lead {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 24px;
}

.booking-date {
  line-height: 24px;
  margin-bottom: 47px;
  padding-left: 65px;
  padding-right: 65px;
}

.search-form-button a {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: #766357;
  color: #fff;
  text-align: center;
  padding-top: 30px;
}

.search-form-button a:hover,
.search-form-button a:focus {
  background-color: #604e43;
}

.search-form-button a:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.booking-search {
  width: 458px;
  height: 58px;
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: inherit;
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
  text-align: center;
  vertical-align: middle;
}

.booking-search:hover,
.booking-search:focus {
  background-color: #669ec0;
}

.booking-search:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.booking {
  position: relative;
}

.booking-form {
  line-height: 26px;
  font-weight: 700;
  position: absolute;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 568px;
  height: 395px;
  left: 314px;
  border: none;
  padding: 0;
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.1);
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  padding: 41px 50px 58px 55px;
}

.input-field {
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: none;
  font: inherit;
  text-transform: uppercase;
}

.input-field:hover {
  background-color: #ebebeb;
}

.input-field:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: 0;
  padding: 4px 10px 4px 10px;
}

.calendar {
  position: absolute;
  width: 21px;
  height: 22px;
  background-color: transparent;
  background-image: url(../img/calendar.svg);
  background-repeat: no-repeat;
  border: none;
  left: 428px;
  top: 8px;
}

.calendar:hover,
.calendar:focus {
  background-image: url(../img/calendar-hover.svg);
}

.calendar:active {
  background-image: url(../img/calendar-active.svg);
}

.arrival-date,
.departure-date {
  position: relative;
}

.full-width {
  width: 346px;
  padding: 6px 12px 6px 12px;
}

.adults {
  display: flex;
  margin-top: 16px;
}

.arrival-date .input-field {
  margin-left: 21px;
  margin-bottom: 1px;
}

.departure-date .input-field {
  margin-left: 17px;
}

.half-width {
  width: 38px;
  height: 38px;
  text-align: center;
}

.adults label {
  margin-right: 41px;
  margin-top: 6px;
}

.children {
  display: flex;
  margin-left: 53px;
  margin-top: 16px;
  margin-bottom: 54px;
}

.children label {
  margin-right: 27px;
  margin-top: 6px;
}

.minus-button::before {
content: "";
height: 3px;
width: 11px;
background: #a9a9a9;
position: absolute;
left: 13px;
top: 18px;
}

.minus-button:hover::before,
.minus-button:focus::before {
  background-color: #000000;
}

.minus-button:active::before {
  background-color: #81b3d2;
}

.plus-button::before {
content: "";
height: 3px;
width: 11px;
background: #a9a9a9;
position: absolute;
left: 13px;
top: 18px;
}

.plus-button::after {
content: "";
height: 11px;
width: 3px;
background: #a9a9a9;
position: absolute;
right: 18px;
top: 14px;
}

.plus-button:hover::before,
.plus-button:hover::after,
.plus-button:focus::before,
.plus-button:focus::after {
   background-color: #000000;
}

.plus-button:active::before,
.plus-button:active::after {
  background-color: #81b3d2;
}

.minus-button,
.plus-button {
  position: relative;
  border: none;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
}

.main-footer {
  position: relative;
  margin-top: -126px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-hash {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 46px 56px 48px 32px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  padding-top: 36px;
}

.footer-copyright {
  width: 196px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 22px;
  padding-bottom: 12px;
  padding-top: 25px;
}

.footer-copyright span {
  margin-top: 10px;
  margin-right: 7px;
}

.social-button {
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.academy-logo:hover path,
.academy-logo:focus path {
  fill: #81b3d2;
}

.academy-logo:active path {
  fill: #bdbbbc;
}

/*Стили hotels.html*/

.site-navigation-current a {
  color: #766357;
}

.filter {
  width: 1200px;
  min-height: 217px;
  background-image: url(../img/hotels-background-cut.jpg);
  background-color: #495b66;
  color: #ffffff;
}

.filter-group {
  width: 1200px;
  min-height: 217px;
  display: flex;
  align-items: center;
}

.filter-criterion {
  margin: 0;
  padding: 0;
}

.first-criterion {
  margin-left: 72px;
  margin-top: 21px;
}

.second-criterion {
  margin-left: 118px;
  margin-top: 21px;
}

.filter-range {
  margin-left: 350px;
}

.filter-criterion li {
  padding-bottom: 25px;
  padding-left: 23px;
  position: relative;
}

.filter-criterion input:before {
  content: "";
  width: 27px;
  height: 23px;
  position: absolute;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 0px;
  top: -1px;
}

.filter-criterion legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-criterion:first-child legend,
.filter-criterion:nth-child(2) legend {
  margin-bottom: 25px;
}

.filter-range {
  width: 320px;
}

.filter-range legend {
  margin-bottom: 10px;
}

.filter-price {
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-price label {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  /*width: 90px;*/
  padding-left: 65px;
  line-height: 38px;
}

.filter-button {
  font: inherit;
  text-transform: inherit;
  border: none;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.price-field {
  font: inherit;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  margin: 0;
  border: none;
  line-height: 38px;
}

.filter-group {
  display: flex;
}

.filter-criterion {
  border: none;
}

.filter-result {
  display: flex;
  width: 1200px;
  min-height: 86px;
  align-items: center;
}

.filter-count {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding-left: 72px;
}

.sort-container {
  display: flex;
  justify-content: space-between;
  width: 353px;
  margin-left: 48px;
  margin-top: 3px;
}

.hotels-sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 239px;
}

.sort-updown {
  margin-left: 504px;
  width: 35px;
  display: flex;
  padding-top: 4px;
  justify-content: space-between;
}

.sort-up path {
  fill: #cacaca;
}

.sort-down path {
  fill: #81b3d2;
}

.sort-up:hover path,
.sort-down:hover path {
  fill: #231f20;
}

.sort-up:active path,
.sort-down:active path {
  fill: #81b3d2;
}

.filter-result p:nth-child(2),
.hotels-sort,
.sort-container p {
  font-size: 12px;
  line-height: 18px;
}

.sort-criterion a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
}

.sort-criterion a:hover,
.sort-criterion a:focus {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.sort-criterion a:active {
  color: #000000;
  border: none;
}

a.criterion-current {
  color: #81b3d2;
  border: none;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-card {
  border-bottom: 1px solid #e5e5e5;
}

.hotel-card-1 {
  border-top: 1px solid #e5e5e5;
}

.detail-button,
.booking-button {
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

.detail-button {
  background-color: #81b3d2;
}

.detail-button:hover,
.detail-button:focus {
  background-color: #669ec0;
}

.detail-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.booking-button {
  background-color: #766357;
}

.booking-button:hover,
.booking-button:focus {
  background-color: #604e43;
}

.booking-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
